@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

body{
    background-color: #FAF8F1;
}

.container{
    display: flex;
    border: 1px solid black;
    margin: 10px;
    height: 80vh;
    flex-wrap: wrap;
}  

span{
    border: 1px solid black;
}

.cont1{
    order:-2;
    flex: 1 0 50%;
    border: 1px solid black;
    text-align: center;
    width: 50vw;
}

.cont2{
    order: -1;
    flex: 1 0 50%;
    border: 1px solid black;
    margin-left: auto;
    text-align: center;
    width: 50vw;
}

.cont3{
    border: 1px solid black;
}

.cont4{
    border: 1px solid black;
}